/* JISAZN-Regular */
@font-face {
	font-family: 'JISAZN';
	src: url('../fonts/jaznr.eot');
	src: url('../fonts/jaznr.eot?#iefix') format('embedded-opentype'),
	url('../fonts/jaznr.woff') format('woff'),
	url('../fonts/jaznr.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* JISAZN-Bold */
@font-face {
	font-family: 'JISAZN';
	src: url('../fonts/jaznb.eot');
	src: url('../fonts/jaznb.eot?#iefix') format('embedded-opentype'),
	url('../fonts/jaznb.woff') format('woff'),
	url('../fonts/jaznb.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Lato-Regular */
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Lato-Medium */
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Lato-Semibold */
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Lato-Bold */
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Lato-Black */
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Montserrat-Regular */
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
	url('../fonts/Montserrat-Regular.woff') format('woff'),
	url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Montserrat-SemiBold */
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
	url('../fonts/Montserrat-SemiBold.woff') format('woff'),
	url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Montserrat-Bold */
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
	url('../fonts/Montserrat-Bold.woff') format('woff'),
	url('../fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/*


font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;

*/