@media only screen and (max-width:1900px) {

}

@media only screen and (min-width:1200px) and (max-width:1366px) {

}

@media only screen and (max-width:1366px) {

}

@media only screen and (min-width:1929px) {
    .slider .slider-item {
        min-height:537px;
    }
}

@media only screen and (max-width:1199px) {
    ul.flat-links > li > a {
        margin-left:46px;
        margin-right:0;
    }
    ul.flat-links > li.brands-link > a:before {
        left:22px;
    }
    ul.flat-links > li.partners-link > a:before,
    ul.flat-links > li.about-link > a:before {
        left:23px;
    }
    ul.flat-links > li.callme-link > a:before {
        left:26px;
    }
    .online-games a {
        padding:0 40px 0 87px;
    }
    ul.brands-tablist {
        padding:20px 20px;
    }
    .flexslider .flex-control-thumbs li {
        margin-right:8px;margin-bottom:8px;
    }
    .home-carousel.owl-theme .owl-controls .owl-nav div.owl-prev {
        left:-18px;
    }
    .home-carousel.owl-theme .owl-controls .owl-nav div.owl-next {
        right:-18px;
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    #mega-menu > .menu {
        max-width: 1070px;
        left: 0;
    }
    .product-box,
    .imagebox.single {
        height:330px;
    }
    .imagebox .box-image {
        margin-bottom:35px;
        line-height:199px;
        height:199px;
        padding:6px;
    }
    .imagebox.style1.v3 .box-content {
        width:250px;
    }
    .imagebox .box-bottom .price .sale {
        margin-right:1px;
        font-size:16px;
    }
    .imagebox .box-bottom .price .regular {
        font-size:11px;
    }
    .imagebox .box-bottom .wishlist-cart a {
        width:34px;
        height:34px;
    }
    .top-search .box-search .search-suggestions {
        width:471px;
    }
    .box-checkbox li.check-box.custom-control-right .custom-control-label::before,
    .box-checkbox li.check-box.custom-control-right .custom-control-label::after{
        right:-3.2rem;
    }
    .cart-totals .coupon-input button {
        height:40px;
        line-height:36px;
        padding:0 7px;
    }
    .cart-totals .coupon-input input {
        margin-right:1px;
        width:117px;
        padding:0 4px;
        font-size:10px;
    }
    .table-cart tr td:nth-child(1) {
        width:60.667%;
    }
    .table-cart tr td:nth-child(2) {
        width:17.333%;
    }
    .product-detail {
        padding:31px 25px 33px 36px;
    }
    .product-detail .content-detail .btn-add-bs,
    .product-detail .content-detail .btn-added-bs,
    .product-detail .content-detail .btn-nostock {
        left:51%;
    }
    .highlights-box h3 {
        font-size:33px;
    }
    .highlights-box .highlights-sale {
        font-size:35px;
    }
    .highlights-box .highlights-regular {
        font-size:22px;
    }
    .highlights-box .btn-shop a {
        padding:0 24px;
        line-height:42px;
    }
}

@media only screen and (min-width:992px) {

}

@media only screen and (max-width:991px) {
    .flexslider .flex-viewport ul.slides li img {
        width:auto;max-width:100%;
    }
    .flexslider .flex-control-thumbs li {
        margin-right:6px;
        margin-bottom:8px;
    }
    .flex-control-thumbs {
        margin:60px 0 0;
    }
    .brands-list .brands-item {
        width:20%;
    }
    .flat-partners .partners-list .partners-item {
        width:20%;
    }
    .table-cart {
        margin-bottom:30px;
    }
    .blog-pagination span {
        display:block;float:none;text-align:center;
    }
    ul.flat-pagination {
        float:none;
    }
    .logo.logo-ft {
        margin-top:30px;
    }
    .widget-ft {
        margin-top:30px;
    }
    footer {
        padding:10px 0;
    }
    .widget-ft.widget-menu ul li a {
        margin-left:10px;
    }
    .top-search .box-search .search-suggestions {
        width:100%;
    }
    #header .header-top,
    #header .header-middle,
    #header .header-bottom,
    footer .footer-main {
        display:none;
    }
    .user-navigation-container > ul > li .nav-span {
        display:none;
    }
    .top-search {
        padding-top:0px;
        margin-right:0px;
    }
    .flat-highlights {
        margin-bottom:60px;
    }
    .highlights-box h3 {
        font-size:30px;
        margin:8px 0;
    }
    .highlights-box .btn-shop a {
        margin-top:7px;
    }
    .highlights-box .highlights-sale {
        font-size:36px;
        margin-right:7px;
    }
    .highlights-box .highlights-regular {
        font-size: 23px;
    }
    .slider .slider-item {
        min-height:358px;
    }
    .slider .slider-item .btn-shop a {
        line-height:38px;
        margin-left:25px;
        margin-bottom:34px;
        font-size:12px;
        padding:0 20px 0 20px;
    }
    .imagebox .box-bottom .price .regular {
        font-size:12px;
    }
    .imagebox .box-bottom .price .sale {
        margin-right:0;
        font-size:18px;
    }
    .popup-window .wrapper {
        width:422px;
        margin:0 0 50px -220px;
    }
    .cart-totals .coupon-input input {
        width:500px;
    }
    .cart-totals .coupon-input button {
        padding:0 50px;
    }
    .flat-customer .customer-wrap form {
        padding-right:0;
    }
    .main-shop .wrap-imagebox .flat-row-title {
        margin-bottom:26px;
    }
    .main-shop .wrap-imagebox .flat-row-title h3 {
        display:block;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .flat-imagebox.static-imagebox .col-md-4:nth-child(4) {
        display:none;
    }
    .user-navigation-container > ul > li {
        margin:9px 12px 0 5px;
    }
    .header-middle #logo a > img {
        width:100%;
    }
    .banner-box {
        padding:10px;
        min-height:100px;
    }
    .banner-box .box-image {
        width:50%;
    }
    .banner-box .box-content {
        margin-top:0px;
    }
    .banner-box .box-content .price span.sale-icon {
        position:absolute;
        right:0;
        top:8px;
        padding:0px 5px;
    }
    .banner-box .box-content .product-name {
        font-size:20px;
    }
    .banner-box .box-content .product-desc {
        margin-top:8px;
    }
    .product-detail {
        padding:20px 0 10px 0;
    }
    .product-detail .content-detail .btn-add-bs,
    .product-detail .content-detail .btn-added-bs,
    .product-detail .content-detail .btn-nostock {
        left:49%;
        transform:translateX(-49%);
        -webkit-transform:translateX(-49%);
        -moz-transform:translateX(-49%);
        -ms-transform:translateX(-49%);
        -o-transform:translateX(-49%);
    }
    .product-detail .content-detail .btn-add-bs a,
    .product-detail .content-detail .btn-added-bs,
    .product-detail .content-detail .btn-nostock a {
        width:162px;
    }
    .product-detail .content-detail .btn-add-bs a img {
        padding-left:3px;
    }
    .product-detail .content-detail .btn-added-bs a {
        font-size:12px;
    }
    .product-detail .content-detail .btn-added-bs span {
        margin:0;
        font-size:10px;
    }
}

@media only screen and (max-width:767px) {
    .flat-banner-box {
        display: none;
    }
    .home-carousel.owl-theme .owl-controls .owl-nav div {
        margin-top:-25px;
    }
    .home-carousel.owl-theme .owl-controls .owl-nav div.owl-prev {
        left:-18px;
    }
    .home-carousel.owl-theme .owl-controls .owl-nav div.owl-next {
        right:-18px;
    }
    .home-carousel.owl-theme .owl-controls .owl-nav div {
        border:1px solid #f2f4f6;
        box-shadow:none;
    }
    .owl-theme .owl-controls .owl-nav div.owl-prev:hover,
    .owl-theme .owl-controls .owl-nav div.owl-next:hover {
        border:1px solid #f2f4f6;
    }
    .flat-imagebox.single {
        margin-bottom:30px;
    }
    .brand-carousel.owl-theme .owl-stage-outer {
        padding-bottom:60px;
    }
    .flat-brand:before {
        height:98px;
    }
    .slider .slider-item {
        min-height:290px;
    }
    .popup-window .wrapper {
        width:388px;
        margin:0 0 50px -196px;
        padding:26px;
    }
    .popup-window form .actions .forgot-password,
    .popup-window form .actions span {
        width:168px;
        font-size:12px;
    }
    .popup-window form .actions input {
        width:164px;
        padding:0 17px 0 17px;
    }
    .popup-title+p {
        margin:-27px 0 27px;
    }
    #callme .popup-title+p {
        margin:-33px 0 40px;
    }
    .popup-window form .actions .fb-login {
        width:164px;
        padding:0 10px;
        font-size:11px;
    }
    ul.brands-tablist li {
        margin-right:15px;
    }
    .cart-totals .coupon-input input {
        width:312px;
    }
    .cart-totals .coupon-input button {
        padding:0 50px;
    }
    .flexslider .flex-control-thumbs li {
        margin-right:22px;
    }
    .brands-list .brands-item {
        width: 50%;
    }
    .flat-partners .partners-list .partners-item {
        width: 50%;
    }
    .flat-customer .customer-nav-wrap {
        border-right:none;
        height:85px;
    }
    .list-group.customer-nav {
        flex-direction:row;
        justify-content:space-between;
        align-items:flex-start;
    }
    .flat-customer .customer-nav-wrap .list-group .list-group-item {
        padding:5px;
    }
    .flat-customer .customer-nav-wrap .list-group .list-group-item.active {
        border-right:none;
        border-bottom:3px solid #F4982B;
    }
    .flat-customer .customer-profile {
        margin-bottom:0;
    }
    .flat-customer .customer-title h3 {
        font-size: 20px;
    }
    .flat-breadcrumb ul.breadcrumbs li.trail-item {
        margin-right:5px;
    }
    .flat-breadcrumb ul.breadcrumbs li.trail-end a {
        padding:0 8px;
    }
    #category .sidebar .widget.widget-special {
        margin-top:20px;
    }
    #category .sidebar, #category .sidebar-mobile {
        display:none;
    }
    #category .btn-filter {
        display:block;
    }
}

@media only screen and (max-width:575px) {
    .container {
        max-width:100%;
    }
    .highlights-box h3 {
        font-size:28px;
    }
    .btn-shop a {
        line-height:44px;
        padding:0 28px 0 28px;
    }
    .highlights-box .highlights-sale {
        font-size:33px;
    }
    .highlights-box .highlights-regular {
        font-size:21px;
    }
    .highlights-image {
        width:250px;
        margin-top:10px;
    }
    .user-navigation-container > ul > li .basket-item-count {
        right:15px;
    }
    .imagebox .box-bottom .price .sale {
        margin-right:0px;
        font-size:18px;
    }
    .imagebox .box-bottom .price .regular {
        font-size:12px;
    }
    .user-navigation-container > ul > li {
        margin:9px 6px 0 6px;
    }
    .header-mobile .logo {
        width:120px;
    }
    .user-navigation-container {
        margin-top:15px;
    }
    .slider .slider-item {
        min-height:190px;
    }
    .slider .slider-item .btn-shop a {
        display:none;
    }
    ul.brands-tablist li {
        margin-right:11px;
    }
    .cart-totals .coupon-input input {
        width:268px;
    }
    .cart-totals .coupon-input button {
        padding:0 40px;
    }
    .product-detail {
        padding:30px 20px 20px 20px;
    }
    .flexslider .flex-control-thumbs li {
        margin-right:9px;
    }
    .table-cart table {
        width:650px;overflow:hidden;
    }
    .table-cart tr td .img-product {
        margin-right:15px;
    }
    .sortbox-carousel .sortbox.single .sortbox-title {
        padding:10px 12px;
    }
    .sortbox-carousel .sortbox.single .sortbox-title a {
        font-size:12px;
    }
}

@media only screen and (min-width:480px) and (max-width:767px) {
    
}

@media only screen and (max-width:480px) {
    .imagebox .box-info {
        padding:0 5px;
    }
    .imagebox .box-image {
        margin-bottom:16px;
        line-height:177px;
        height:177px;
    }
    .imagebox.single .box-image {
        margin-bottom:16px;
    }
    .product-box .imagebox .box-bottom,
    .imagebox.single .box-bottom,
    .imagebox .box-content .product-name {
        padding:0 5px;
    }
    .imagebox.single .box-bottom .price .sale,
    .imagebox .box-bottom .price .sale {
        font-size:17px;
        display:block;
    }
    .imagebox.single .box-bottom .price .regular,
    .imagebox .box-bottom .price .regular {
        font-size:11px;
        float:left;
    }
    .imagebox.single .box-bottom .wishlist-cart,
    .imagebox .box-bottom .wishlist-cart {
        bottom:-23px;
        margin-right:5px;
    }
    .highlights-box h3 {
        font-size:20px;
        margin-top:20px;
    }
    .highlights-box .highlights-sale {
        font-size:23px;
        margin-right:4px;
    }
    .highlights-box .highlights-regular {
        font-size:13px;
    }
    .btn-shop a {
        line-height:40px;
        padding:0 20px 0 20px;
    }
    .highlights-image {
        width:191px;
        margin-top:22px;
    }
    .slider .slider-item {
        min-height:150px;
    }
    .popup-window .wrapper {
        width:358px;
        margin:0 0 50px -180px;
        padding:20px;
    }
    .popup-window form .actions .forgot-password,
    .popup-window form .actions span {
        width:164px;
        font-size:12px;
    }
    .popup-window form .actions input {
        width:150px;
        padding:0 17px 0 17px;
    }
    .popup-title+p {
        margin:-30px 0 16px;
    }
    #callme .popup-title+p {
        margin:-30px 0 30px;
    }
    .popup-window form .actions .fb-login {
        width:150px;
        padding:0 10px;
        font-size:11px;
    }
    ul.brands-tablist {
        padding:14px;
    }
    ul.brands-tablist li {
        margin-right:14px;
    }
    .cart-totals .coupon-input input {
        width:146px;
    }
    .cart-totals .coupon-input button {
        padding:0 20px;
    }
    .product-detail {
        padding:0;
    }
    .product-detail .content-detail .btn-add-bs,
    .product-detail .content-detail .btn-added-bs,
    .product-detail .content-detail .btn-nostock {
        left:unset;
        right:0;
        transform:none;
        -webkit-transform:none;
        -moz-transform:none;
        -ms-transform:none;
        -o-transform:none;
    }
    .product-detail .content-detail .box-wishlist {
        position:absolute;
        top:-64px;
        right:0;
    }
    .product-detail .content-detail .btn-add-bs a,
    .product-detail .content-detail .btn-nostock a {
        width:210px;
    }
    .product-detail .content-detail .btn-add-bs a img {
        padding-left: 5px;
    }
    .flat-row-title .sort > div {
        margin-left:5px;
    }
    .flat-shop-checkout .shop-checkout-wrap, .flat-shop-checkout .shop-payment-wrap {
        padding:0 10px 40px 10px;
    }
    .flat-shop-checkout .shop-payment-wrap .payment-method {
        font-size:10px;
    }
    .flat-shop-checkout .shop-payment-wrap .payment-method img {
        height:18px;
    }
    .flat-imagebox.single-box .flat-row-title h2 {
        font-size:20px;
    }
    .flat-imagebox.single-box .flat-row-title a.see-all {
        font-size:16px;
    }
    .flat-sort-box .sortbox-carousel.owl-carousel .owl-stage {
        margin-left:-5%;
    }
    .flat-row-title .sort {
        display:flex;
        justify-content:space-between;
        float:none;
    }
    .flat-row-title .sort > div {
        margin-left:0;
    }
    .flat-row-title .sort > div.popularity select,
    .flat-row-title .sort > div.showed select {
        padding:0;
    }
    .flat-row-title .sort > div.popularity select {
        width:160px;
        padding:2px 25px;
    }
    .flat-row-title .sort > div.showed select {
        width:160px;
        padding:2px 40px;
    }
    .mobile-banner-box h3 {
        font-size:22px;
    }
    .mobile-banner-box .mobile-banner-regular {
        font-size:18px;
    }
    .mobile-banner-box .mobile-banner-sale {
        font-size:28px;
    }
    .flat-customer .table-cart.orders-main tr td:nth-child(1) {
        width: 61.334%;
    }
    .flat-customer .table-cart.orders-main tr td:nth-child(2) {
        width: 20.333%;
    }
    .flat-customer .table-cart.orders-main tr td:nth-child(3) {
        width: 18.333%;
    }
}

@media (max-width:320px) {
    .flat-imagebox.single-box .flat-row-title h2 {
        font-size:18px;
    }
    .flat-imagebox.single-box .flat-row-title a.see-all {
        font-size:14px;
    }
    .highlights-image {
        width:167px;
    }
    .highlights-box h3 {
        font-size:16px;
        margin-bottom:15px;
    }
    .highlights-box .highlights-sale {
        font-size:18px;
    }
    .highlights-box .highlights-regular {
        font-size:11px;
    }
    .highlights-box .btn-shop a {
        margin-top:15px;
    }
    .flat-row-title .sort > div.popularity select {
        width:140px;
        padding:2px 10px;
    }
    .flat-row-title .sort > div.showed select {
        width:140px;
        padding:2px 32px;
    }
    .imagebox.single .box-bottom .wishlist-cart, .imagebox .box-bottom .wishlist-cart {
        bottom:-30px;
    }
}
