.cart-totals form .btn-cart-totals button.checkout {
    background-color:#F4982B;
    position: relative;
    overflow: hidden;
    z-index: 5;
    width: 100%;
}

.user-navigation-container > ul > li .dropdown-box .btn-cart button.check-out{
    color: #fff;
    background-color: #F4982B;
    border: 1px solid transparent;
    float: right;
    padding: 0px 26px;
    height: 34px !important;
    line-height: 34px !important;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    z-index: 5;
}

.preloader {
    display: none;
}

.cart-totals .coupon-input a {
    float: right;
    background-color: #F4982B;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    z-index: 5;
    border: 1px solid #F4982B;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.cart-totals .coupon-input a:hover {
    background: #FB8800;
}


/*Addstyle css*/
.search-suggestions .box-suggestions ul li .info-product .name p{
    font-size: 16px;
    font-weight: bold;
}


.search-suggestions .box-suggestions ul li .info-product .name p span{
      font-weight: 600;
    font-size: 12px;
    line-height: 145%;
    color: #ff4b81;
    background: rgba(255,75,129,.16);
    margin-left: 12px;
    border-radius: 2px;
    padding: 3px 4px;
}

#startLogin.popup-window .actions a.open-popup {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-family: "Lato";
    font-size:16px;
    font-weight:600;
    letter-spacing:0.5px;
    background-color: #F4982B !important;
    color: #fff;
    border: 1px solid #F4982B;
    border-radius:2px;
    margin-top: 20px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
}

#startLogin.popup-window .startLoginWrapper{
    top: 33%;
}
